bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea
/MovieVote/database.db
/MovieVote/database.db-shm
/MovieVote/database.db-wal
/MovieVote/config.json5
/MovieVote/Static/js/index.js*
/MovieVote/Scripts/node_modules
