bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea
/MovieVote/database.db
/MovieVote/database.db-shm
/MovieVote/database.db-wal
/MovieVote/config.json5
/MovieVote/wwwroot/lib/microsoft-signalr/signalr.js
/MovieVote/wwwroot/lib/microsoft-signalr/signalr.min.js
/MovieVote/wwwroot/js/index.js
/MovieVote/wwwroot/js/index.js.map