@page
@model MovieVote.Pages.IndexModel

<div class="movie-content">
    <partial name="Content/Sidebar/Sidebar.cshtml" />
    <div class="movie-list content">
        @foreach (Movie movie in IndexModel.Movies)
        {
            @await Html.PartialAsync("Content/Movie", movie)
        }
    </div>
</div>