<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bucket Movie Night</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/css/movie-list.css">
    <link rel="stylesheet" type="text/css" href="~/css/add.css">

    <!-- Favicon -->
    <link rel="icon" href="~/images/bucket-logo.png" sizes="any" type="image/svg+xml">

    <!-- OGP embedding -->
    <meta content="Bucket Movie Night" property="og:title" />
    <meta content="Vote for a movie to watch next!" property="og:description" />
    <meta content="https://visne.xyz/movienight/" property="og:url" />
    <meta content="/images/bucket-logo.png" property="og:image" />
    <meta content="#e23229" data-react-helmet="true" name="theme-color" />
</head>
<body>

<partial name="Header"/>
@RenderBody()
<partial name="Footer"/>
<script src="~/js/index.js"></script>

</body>
</html>