@model FilterModel

<details>
    <summary>
        @Model.Text
        <img src="images/chevron.svg" alt=">"/>
    </summary>
    <div class="filter-content">
        @Model.Content
    </div>
</details>