@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MovieVote.Db
@model IndexModel

<div class="movie-content">
    <div class="sidebar">
        <partial name="Filter" model='new FilterModel("Sort By", "wyci")' />
        <partial name="Filter" model='new FilterModel("Watch Status", "wyci")' />
        <partial name="Filter" model='new FilterModel("Genre", "wyci")' />
    </div>
    <div class="movie-list content">
        @{
            if (Model.Movies.Count == 0)
            {
                <div style="text-align: center; color: dimgray"><i>There's nothing here...</i></div>
            }
            else
            {
                foreach (Movie movie in Model.Movies)
                {
                    <partial name="Movie" model="movie"/>
                }
            }
        }
    </div>
</div>